/* DIREITO HEADER */


/* DIREITO HEADER */

.elemento1 {
    border: 1px solid #2A45B3;
    width: 50vw;
    height: 100vh;
    background-color: #2A45B3;
    float: right;
}

.elemento1 {
    margin-right: -8;
    margin-top: -10px;
}

.img {
    float: right;
    margin-right: 200px;
    margin-top: 270px;
    height: 500px;
}

.input-1 {
    float: left;
    margin-top: 300px;
    margin-left: 200px;
}

.input-2 {
    float: left;
    margin-top: 30px;
    margin-left: 200px;
}

.name {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(230, 230, 233);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
}

.senha {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(230, 230, 233);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
}

.login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
}

.pass {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
}

.h1 {
    float: left;
    margin-top: -200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: #1D1D1D;
}

.h4 {
    float: left;
    margin-top: -150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 70px;
    color: #797979;
}

.btn {
    float: left;
    margin-top: 200px;
    margin-left: -400px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #ffff;
    background-color: #2A45B3;
    cursor: pointer;
}

.btn:hover {
    box-shadow: #2A45B3 10px 10px 140px 2px;
}

.h5 {
    float: left;
    margin-top: 350px;
    margin-left: -400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reg {
    color: #2A45B3;
    cursor: pointer;
}

.redes {
    display: flex;
    float: left;
    margin-top: 260px;
    margin-left: -410px;
    cursor: pointer;
}

.google {
    height: 80px;
    width: 40px;
    margin-left: 10px;
}

.face {
    height: 80px;
    width: 50px;
    margin-left: 10px;
}

.git {
    height: 80px;
    width: 45px;
    margin-left: 10px;
}


/* REPOSIVO */

@media screen and (max-width: 1600px) {
    .h1 {
        float: none;
    }
    .h4 {
        float: left;
        margin-top: -30px;
    }
    .login {
        margin-top: 100px;
        float: none;
    }
    .img {
        margin-right: 80px;
    }
}

@media screen and (max-width: 1500px) {
    .img {
        margin-right: 80px;
    }
}

@media screen and (max-width: 1468px) {
    .img {
        margin-right: 80px;
    }
}

@media screen and (max-width: 1400px) {
    .img {
        margin-right: 80px;
        margin-top: 200px;
    }
    .container {
        margin-left: -70px;
    }
}

@media screen and (max-width: 1300px) {
    .img {
        margin-right: 30px;
        margin-top: 200px;
    }
    .container {
        margin-left: -90px;
    }
}

@media screen and (max-width: 1200px) {
    .img {
        margin-right: 20px;
        margin-top: 200px;
    }
    .container {
        margin-left: -120px;
    }
}

@media screen and (max-width: 1100px) {
    .img {
        margin-right: 30px;
        margin-top: 300px;
        height: 400px;
    }
    .container {
        margin-left: -180px;
    }
}

@media screen and (max-width: 1000px) {
    .img {
        margin-right: 30px;
        margin-top: 300px;
        height: 400px;
    }
    .container {
        margin-left: -180px;
        padding: 6px;
    }
}

@media only screen and (max-width: 900px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .container {
        display: inline;
        width: 100vw;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-2 {
        margin-top: 380px;
        margin-left: -400px;
    }
    .container {
        display: inline-flex;
        margin-left: -270px;
    }
    .btn {
        margin-top: 550px;
    }
    .h5 {
        margin-top: 690;
    }
    .redes {
        margin-left: -410px;
        float: none;
        margin-top: 605px;
    }
}

@media only screen and (max-width: 560px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-2 {
        margin-top: 360px;
        margin-left: -300px;
    }
    .name {
        height: 20px;
        width: 300px;
        margin-left: -60px;
    }
    .login {
        margin-left: -50px;
        font-size: 20px;
    }
    .pass {
        font-size: 20px;
        margin-left: 10px;
    }
    .senha {
        height: 20px;
        width: 300px;
    }
    .container {
        display: inline-flex;
        margin-left: -150px;
    }
    .btn {
        margin-top: 550px;
        margin-left: -300px;
        height: 40px;
        font-size: 17px;
        width: 80px;
    }
    .h5 {
        margin-top: 630;
        margin-left: -300px;
    }
    .h1 {
        font-size: 30px;
        margin-left: -30px;
    }
    .h4 {
        margin-top: -19px;
        margin-left: 10px;
        font-size: 20px;
    }
    .btn {
        margin-top: 530px;
    }
    .h5 {
        margin-top: 690;
    }
    .redes {
        margin-left: -310px;
        float: none;
        margin-top: 605px;
    }
}

@media only screen and (max-width: 450px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-2 {
        margin-top: 360px;
        margin-left: -300px;
    }
    .name {
        height: 20px;
        width: 300px;
        margin-left: -60px;
    }
    .login {
        margin-left: -50px;
        font-size: 20px;
    }
    .pass {
        font-size: 20px;
        margin-left: 10px;
    }
    .senha {
        height: 20px;
        width: 300px;
    }
    .container {
        display: inline-flex;
        margin-left: -150px;
    }
    .btn {
        margin-top: 550px;
        margin-left: -300px;
        height: 40px;
        font-size: 17px;
        width: 80px;
    }
    .h5 {
        margin-top: 630;
        margin-left: -300px;
    }
    .h1 {
        font-size: 30px;
        margin-left: -30px;
    }
    .h4 {
        margin-top: -19px;
        margin-left: 10px;
        font-size: 20px;
    }
    .btn {
        margin-top: 530px;
    }
    .h5 {
        margin-top: 690;
    }
    .redes {
        margin-left: -310px;
        float: none;
        margin-top: 605px;
    }
}

@media only screen and (max-width: 370px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-2 {
        margin-top: 360px;
        margin-left: -300px;
    }
    .name {
        height: 20px;
        width: 300px;
        margin-left: -60px;
    }
    .login {
        margin-left: -50px;
        font-size: 20px;
    }
    .pass {
        font-size: 20px;
        margin-left: 10px;
    }
    .senha {
        height: 20px;
        width: 300px;
    }
    .container {
        display: inline-flex;
        margin-left: -170px;
    }
    .btn {
        margin-top: 550px;
        margin-left: -300px;
        height: 40px;
        font-size: 17px;
        width: 80px;
    }
    .h5 {
        margin-top: 630;
        margin-left: -300px;
    }
    .h1 {
        font-size: 30px;
        margin-left: -20px;
    }
    .h4 {
        margin-top: -19px;
        margin-left: 10px;
        font-size: 20px;
    }
    .btn {
        margin-top: 500px;
    }
    .h5 {
        margin-top: 630;
        font-size: 12px;
    }
    .redes {
        margin-left: -310px;
        float: none;
        margin-top: 580px;
    }
    .google {
        height: 30px;
    }
    .face {
        height: 35px;
        margin-left: -5px;
        margin-top: -2px;
    }
    .git {
        height: 30px;
        margin-left: -9px;
    }
}

@media only screen and (max-width: 320px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-2 {
        margin-top: 360px;
        margin-left: -300px;
    }
    .name {
        height: 20px;
        width: 300px;
        margin-left: -60px;
    }
    .login {
        margin-left: -50px;
        font-size: 20px;
    }
    .pass {
        font-size: 20px;
        margin-left: 10px;
    }
    .senha {
        height: 20px;
        width: 300px;
    }
    .container {
        display: inline-flex;
        margin-left: -170px;
    }
    .btn {
        margin-top: 550px;
        margin-left: -300px;
        height: 40px;
        font-size: 17px;
        width: 80px;
    }
    .h5 {
        margin-top: 630;
        margin-left: -300px;
    }
    .h1 {
        font-size: 30px;
        margin-left: -20px;
    }
    .h4 {
        margin-top: -19px;
        margin-left: 10px;
        font-size: 20px;
    }
    .btn {
        margin-top: 500px;
    }
    .h5 {
        margin-top: 630;
        font-size: 12px;
    }
    .redes {
        margin-left: -310px;
        float: none;
        margin-top: 580px;
    }
    .google {
        height: 30px;
    }
    .face {
        height: 35px;
        margin-left: -5px;
        margin-top: -2px;
    }
    .git {
        height: 30px;
        margin-left: -9px;
    }
}

@media only screen and (max-width: 280px) {
    .elemento1 {
        display: none;
        visibility: hidden;
    }
    .input-1 {
        margin-left: 230px;
    }
    .input-2 {
        margin-top: 330px;
        margin-left: -260px;
    }
    .name {
        height: 10px;
        width: 260px;
        margin-left: -60px;
    }
    .login {
        margin-left: -50px;
        font-size: 20px;
    }
    .senha {
        height: 20px;
        width: 260px;
    }
    .pass {
        font-size: 20px;
        margin-left: 10px;
    }
    .container {
        display: inline-flex;
        margin-left: -100px;
    }
    .btn {
        margin-top: 450px;
        margin-left: -260px;
        height: 40px;
        font-size: 17px;
        width: 70px;
    }
    .h5 {
        margin-top: 520;
        margin-left: -260px;
        font-size: 13px;
    }
    .h1 {
        font-size: 30px;
        margin-left: -50px;
    }
    .h4 {
        margin-top: -19px;
        margin-left: -20px;
        font-size: 20px;
    }
}